<h1>Put your template content files into this directory</h1>

<p>
  Files in this directory can be substituted into the variables defined in
  build.properties.d.  In a second step, parameter substitution takes place with
  BUILD_NUMBER, if the word is preceded by a dollar sign: ${BUILD_NUMBER}
</p>
