/*
 * ** header v3.0
 * This file is a part of the CaosDB Project.
 *
 * Copyright (C) 2019 IndiScale GmbH
 * Copyright (C) 2019 Daniel Hornung (d.hornung@indiscale.com)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <https://www.gnu.org/licenses/>.
 *
 * ** end header
 */

body {
    background-color: #1a4548;
}

footer {
    background-color: #1a4548;
    color: #88bdc2;
}

footer a {
    color: #88bdc2;
}

footer a:hover {
    color: white;
    text-decoration: inherit;
}


.background {
    background-image: url("/webinterface/pics/tile.png");
    background-repeat: repeat;
    background-attachment: fixed;
}

@keyframes background_switch {
from {
    background-image: url("/webinterface/${BUILD_WELCOME_BACKGROUND_1}"),
                      linear-gradient(#0b7983, #cbf7fa);
}
25% {
    background-image: url("/webinterface/${BUILD_WELCOME_BACKGROUND_2}"),
                      linear-gradient(#0b7983, #cbf7fa);
}
50% {
    background-image: url("/webinterface/${BUILD_WELCOME_BACKGROUND_3}"),
                      linear-gradient(#0b7983, #cbf7fa);
}
75% {
    background-image: url("/webinterface/${BUILD_WELCOME_BACKGROUND_4}"),
                      linear-gradient(#0b7983, #cbf7fa);
}
}

body.caosdb-welcome .background {
    background-size: 100%;
    background-repeat: no-repeat;
    animation-name: background_switch;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 120s;
    animation-direction: normal;
    animation-timing-function: step-end;
}

.navbar-default {
    /* background-color: #cbf7fa; */
    background-color: gainsboro;
    color: black;
    border: none;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .btn-link,
.navbar-nav {
    color: darkslategrey;
}

.navbar-default .btn-link:focus,
.navbar-default .btn-link:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: black;
    text-shadow: 0 0 6px white, 0 0 6px white, 0 0 6px white;
}

.btn-primary {
    background-color: #0b7983;
    border-color: #0b7983;
}


.bg-indiscale-translucent {
 background-color:#cdeef2cc!important
}

.caosdb-entity-panel-body > :first-child {
	margin-top: 5px;
}

.list-group {
 margin-bottom: 5px;
}

.caosdb-v-property-row {
    animation: appear 0.5s 1;
    background-color: #FFFFFF;
}

body[data-hidden-properties="false"] .caosdb-v-property-row {
    border: none;
}

body[data-hidden-properties="false"] .caosdb-v-property-row:nth-child(odd) {
    background: #e1eff0;
}

/* TODO(fspreck) Use :nth-child(odd of :is(caosdb-v-show-property)) here once
   CSS4 is widely adopted */
body[data-hidden-properties="true"] .caosdb-v-property-row:nth-child(odd) {
    background: unset;
}

.pager {
    margin: 0.5ex 0;
}

.panel-heading {
    padding: 1ex 15px 0;
}

.panel {
    background-color: #FFFFFF88;
}

.panel-group {
    margin: 5px;
}

.label {
    padding: .5ex .6em .1ex;
}

.caosdb-boolean-true, .caosdb-boolean-true {
    padding: 0 5px;
}

.caosdb-next-button, .caosdb-prev-button,
.pager li > a, .pager li > span{
    padding: 0.25ex 1em;
    background-color: #FFFFFF88;
}

.panel-default > .panel-heading {
    background-color: transparent;
}

.caosdb-comments-heading {
    background-color: #F6FFFF;
}

.caosdb-label-name {
    color: #1a4548;
}

.caosdb-v-welcome-header {
    color: #f8f9fa;
}

.caosdb-v-tour-toc-header {
    margin-left: 0.75rem;
}

.caosdb-v-welcome-caption {
    padding-top: 2rem;
    color: #6c757d;
}

/* Bootstrap's default is too prominent for our uses. */
code {
    background: none;
}

.caosdb-v-welcome-image {
    max-height: 40vh;
}

@media screen and (min-width: 992px) {
    .caosdb-v-welcome-caption {
        font-size: 2.5rem;
    }
}
