/*
 * ** header v3.0
 * This file is a part of the LinkAhead Project.
 *
 * Copyright (C) 2018 Research Group Biomedical Physics,
 * Max-Planck-Institute for Dynamics and Self-Organization Göttingen
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <https://www.gnu.org/licenses/>.
 *
 * ** end header
 */
@CHARSET "UTF-8";


main {
}

body {
    background-color: lightgrey;
}

.background {
    background-color: white;
    min-height: 60vh;
}

@media screen and (min-height: 1150px) {
    .background {
        min-height: 80vh;
    }
}


footer {
    background-color: lightgrey;
    width:100%;
}

.caosdb-v-server-message strong {
  margin-right: 8px;
}

.caosdb-v-message-badge {
  background-color: var(--bs-alert-bg);
  color: var(--bs-alert-color);
}

div.export-data {
    display: none;
}

tr:not(:hover) .caosdb-v-entity-version-hint-cur {
    color: #DDD;
}

tr:hover .caosdb-v-entity-version-hint {
    color: unset;
}

.caosdb-v-entity-version-hint {
    color: #DDD;
}

tbody:not(:hover) tr .caosdb-v-entity-version-hint-cur {
    color: unset;
}

.caosdb-v-entity-version-no-related {
    color: #DDD;
}

.caosdb-v-entity-version-no-related:hover {
    color: unset;
}

.caosdb-v-state-model-label .caosdb-v-state-label {
    margin-left: .6em; font-size: 100%;
}

.caosdb-v-state-label:hover,
.caosdb-v-state-label:active {
    filter: brightness(110%);
}

.caosdb-v-bookmark-button,
.caosdb-v-bookmark-button:focus,
.caosdb-v-bookmark-button:hover {
    color: #333;
    top: 3px;
}

.caosdb-v-bookmark-button:active,
.caosdb-v-bookmark-button.active {
    color: red;
}


.caosdb-v-navbar-toolbox li a:hover,
.caosdb-v-navbar-toolbox li input:hover,
.caosdb-v-navbar-toolbox li button:hover {
    background-color: #f5f5f5;
}

.caosdb-v-navbar-toolbox li a,
.caosdb-v-navbar-toolbox li input,
.caosdb-v-navbar-toolbox li button {
    display: block;
    padding: 3px 20px;
    border: none;
    width: 100%;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    background-color: transparent;
    white-space: nowrap;
}

.caosdb-v-bottom-line-image-preview > img {
    max-width: 400px;
    max-height: 280px;
}

.caosdb-v-bottom-line-image-preview {
    text-align: center;
}

.caosdb-v-entity-header-buttons-list > * {
    padding: 0;
}

.caosdb-v-entity-property-attributes {
    font-size: 0.75em;
}

.caosdb-v-show-only-child {
    display: none;
}

.caosdb-v-query-select-data-xsl:hover {
    cursor: pointer;
}

/* Ugly workaround for https://gitlab.com/caosdb/caosdb-webui/issues/78 */
.caosdb-select-table tbody > tr > td {
    max-width: 30vw;
}

.caosdb-v-show-only-child:only-child {
    display: initial;
}

/* DEPRECATED css class .caosdb-property-text-value - Use
* .caosdb-f-property-single-raw-value or introduce new
* .caosdb-v-property-text-value */
.caosdb-property-text-value,
.caosdb-v-property-text-value {
    white-space: pre-line;
}

.caosdb-clickable:hover {
    cursor: pointer;
}

.caosdb-comment-annotation-text h1 {
    font-size: 24px;
}

.caosdb-comment-annotation-text h2 {
    font-size: 20px;
}

.caosdb-comment-annotation-text h3 {
    font-size: 18px;
}

.caosdb-comment-annotation-text h4 {
    font-size: 16px;
}

.caosdb-show-preview-button, .caosdb-hide-preview-button {
    position: absolute;
    left: -0.65rem;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent !important;
}

a.label.caosdb-id-button:hover {
    background-color: #5E6762;
}

h5 {
    margin: auto;
}

.caosdb-f-main-entities {
    max-width: 100%;
}

.caosdb-f-main-entities-edit {
    max-width: calc(100% - 240px);
}

.caosdb-entity-preview .caosdb-entity-panel-body {
    overflow-y: auto;
    max-height: 250px;
}

.caosdb-preview-carousel-nav > .caosdb-value-list > .btn-group > .btn:first-child {
    margin-left: 34px;
}
.caosdb-preview-carousel-nav > .caosdb-value-list > .btn-group > .btn:last-child {
    margin-right: 34px;
}

.caosdb-preview-carousel-nav {
    position: relative;
}

.caosdb-query-form {
    width: 100%;
}

.caosdb-query-panel {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-light .btn-link:hover {
	text-decoration: none;
}

.navbar-light .btn-link:focus {
    text-decoration: none;
}

.caosdb-v-property-left-col {
    min-height: 30px;
    display: inline-block;
    overflow-x: auto;
}

.caosdb-v-property-left-col > * {
    margin-top: 3px;
    margin-bottom: 3px;
    display: inline-block;
}

.caosdb-property-name {
    font-weight: bold;
}

.caosdb-square {
    position: relative;
    overflow: hidden;
}

.caosdb-entity-actions-panel {
    margin-top: 5px;
}

.caosdb-square::before {
	content: "";
	display: block;
	padding-top: 100%;
}

.caosdb-square-content {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.caosdb-label-link {
    text-decoration: none;
}

.caosdb-label-id {
    margin-right: 0.3em;
    display: none;
}

.caosdb-label-name {
    font-weight: bold;
}

/* lists of values */
/* INLINE (with default scroll-bar) */
.caosdb-value-list {	
	overflow-x: auto;
}

.caosdb-value-list > .btn-group > .btn {
    float: none;
}
.caosdb-value-list > .btn-group,
.caosdb-value-list > ol {
    display: inline-block;
    float: none;
    white-space: nowrap;
    margin-bottom: 0px;
    margin-left: 0px;
}

.caosdb-value-list > .list-inline > li {
    background-color: white;
    padding: 0.2rem 0.5rem;
    margin: auto 0;
    border: 1px solid #212529;
    border-left-width: 0px;
    font-size: 0.875rem;
}

.caosdb-value-list > .list-inline > li:first-child {
    border-radius: 0.2rem 0px 0px 0.2rem;
    border-left-width: 1px;
}

.caosdb-value-list > .list-inline > li:last-child {
    border-radius: 0px 0.2rem 0.2rem 0px;
}

/* single boolean values */
.caosdb-boolean-true {
    font-weight: bold;
    font-size: 90%;
    border: 1px solid #bbb;
    padding: 0 5px;
    border-radius: 8px;
}

.caosdb-boolean-false {
    font-weight: bold;
    font-size: 90%;
    border: 1px solid #bbb;
    padding: 0 5px;
    border-radius: 8px;
}

.caosdb-entity-panel-heading {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;  
}

.caosdb-entity-heading-attr {
    overflow-x: auto;
}

.caosdb-entity-heading-attr-name {
    color: #6c6c6c;
    font-size: 90%;
    margin-right: 0.3em; 
}

.caosdb-subproperty-divider {
    margin: 4px 0px;
    border-top: 1px solid #dddddd;
}

.caosdb-prop-label {
    background-color: #f5f5f5;
    font-weight: bold;
    padding: 8px 15px;
}

.caosdb-prop-value {
    background-color: #ffffff;
    padding: 8px 15px;
}

.caosdb-prop-list-group .row {
    margin-left: 0px;
    margin-right: 0px;
}

body[data-hidden-properties="true"] .caosdb-v-hidden-property {
    display: None;
}

body[data-hidden-properties="true"] .caosdb-v-entity-being-edited .caosdb-v-hidden-property {
    display: unset;
}

.caosdb-v-edit-drag {
    padding: 5px;
}

.caosdb-v-editmode-existing ul {
    height: 280.0px;
    overflow-y: auto;
}

.caosdb-v-editmode-btngroup {
    padding-bottom: 15px;
}

.caosdb-prop-list-group>.list-group-item {
    padding: 0px;
}

.caosdb-prop-list-group>.list-group-item:first-child .caosdb-prop-label
    {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.caosdb-prop-list-group>.list-group-item:first-child .caosdb-prop-value
    {
    border-top-right-radius: 4px;
}

.caosdb-prop-list-group>.list-group-item:last-child .caosdb-prop-label {
    border-bottom-left-radius: 4px;
}

.caosdb-prop-list-group>.list-group-item:last-child .caosdb-prop-value {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.caosdb-label-record {
    background-color: #F92108;
    border: 1px solid #F92108;
}

.caosdb-label-recordtype {
    background-color: #00A32E;
    border: 1px solid #00A32E;
}

.caosdb-label-property {
    background-color: #496DAB;
    border: 1px solid #496DAB;
}

.caosdb-label-file {
    background-color: #C92E86;
    border: 1px solid #C92E86;
}

.caosdb-label-entity {
    background-color: #666;
    border: 1px solid #666;
}

.caosdb-parents-heading {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #f5f5f5;
    color: #7c7c7c;
}

.caosdb-comments-heading {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #f5f5f5;
    color: #7c7c7c;
}

.caosdb-parent-item {
    border: 1px solid #666;
    color: black;
    text-decoration: none;
}

.caosdb-parent-item a {
    color: black;
    text-decoration: none;
}

.caosdb-unit {
    color: #8c8c8c;
    font-size: 80%;
    margin-left: 0.3em;
}

.caosdb-fs-cwd::before {
    content: " > ";
}

.caosdb-fs-btn-file {
    padding: 0px;
    background-color: transparent;
    border: 0px;
}

.caosdb-fs-btn-file:hover .caosdb-label-file {
    background-color: #F96EB6;
}

.caosdb-fs-btn-file:hover .caosdb-label-id {
    background-color: #6E8782;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 15px;
    display: none;
    z-index: 1050;
}

.caosdb-logo {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 8px;
    max-height: 30px;
}

.caosdb-comment-action-item {
    padding-left: 4px;
    padding-right: 4px;
    border-left: 1px solid #7c7c7c;
}

.caosdb-comment-action>.caosdb-comment-action-item:first-child {
    border-left: 0px solid #7c7c7c;
}

.spinning {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.caosdb-v-property-row {
    animation: appear 0.5s 1;
    padding-left: 2.4rem;
    padding-right: 1rem;
    padding-top: 0.3ex;
    padding-bottom: 0.3ex;
    border-radius: none;
    border-left: none;
    border-right: none;

}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.flipped-horiz-icon {
    transform: scaleX(-1);
}

.spacer {
    margin-left: 12px;
}

input[type="file"] {
    display: none;
}

.caosdb-form-row {
    margin: 10px;
}

.caosdb-v-property-value {
    max-height: 120px;
    overflow-y: auto;
    min-height: 22px;
}

.caosdb-v-property-value-inputs {
    max-height: 300px;
    overflow: auto;
}

.caosdb-v-property-value-inputs > textarea {
    width: 100%;
}

.caosdb-v-property-value-inputs .caosdb-preview-waiting-notification {
  color: #aaa;
}

.caosdb-v-property-value-inputs .caosdb-preview-waiting-notification:after {
  content: "...";
}

.caosdb-v-property-value-inputs li > textarea {
    width: calc(100% - 40px);
}

.caosdb-v-edit-mode-property-dropzone {
    list-style: none;
    text-align: center;
    color: #69c2df;
    border: 2px dashed #69c2df;
    padding: 25px 0;
    margin: 1rem;
    margin-top: 20px;
    margin-bottom: 0px;
}

.caosdb-v-edit-mode-property-dropzone:hover {
    filter: brightness(80%);
}

.caosdb-v-edit-mode-parent-dropzone {
    position: relative;
    display: block;
    color: #69c2df;
    border: 2px dashed #69c2df;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 15px;
    margin: 0;
}

.caosdb-v-edit-mode-parent-dropzone:hover {
    filter: brightness(80%);
}

.caosdb-v-edit-mode-highlight {
    color: #333;
    background-color: #d3fdd3;
    border: 2px solid #d3fdd3;
}

.caosdb-v-edit-mode-parent-dropzone div:first-child {
    font-size: 80%;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px;
}

.caosdb-v-property-value-inputs div.dropdown.bootstrap-select {
    margin-bottom: -1px;
    border: 1px solid #aaa;
}

.caosdb-v-property-value-inputs div.dropdown.bootstrap-select:last-child {
    margin-bottom: 0px;
}

.caosdb-v-property-value-inputs button.caosdb-f-list-item-button {
    padding: 1px;
}

.caosdb-v-property-other-inputs * + * {
    margin-left: 6px;
}

.caosdb-v-property-other-inputs label * {
    margin-left: 6px;
}

.caosdb-v-property-other-inputs {
    margin-top: 6px;
    margin-bottom: 6px;
}

.caosdb-bulletsep {
    margin-left: 2ch;
    margin-right: 2ch;
}

details summary .dropdown {
    display:none;
}
details[open] summary .dropdown {
    display:block;
}

.modal-dialog {
  top:80px;
}

details summary {
    cursor: pointer;
    display: list-item;
}

details summary > * {
    display: inline;
}

details p {
    margin-bottom: 0.2rem;
}

.caosdb-v-tour-overview-entry-page a {
  text-decoration: none;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}

.caosdb-next-button,
.caosdb-prev-button {
    visibility: hidden;
}

.caosdb-next-button[href],
.caosdb-prev-button[href] {
    visibility: visible;
}

.caosdb-f-paging-panel {
    display: none;
    height: 31px;
}

.caosdb-f-show-paging-panel .caosdb-f-paging-panel {
    display: flex;
    justify-content: space-between;
}

.caosdb-properties {
    margin-left: -1rem;
    margin-right: -1rem;
}

.caosdb-v-state-label {
    background-color: #333;
}

.caosdb-v-state-model-label {
    background-color: #666;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    font-size: inherit;
}

.caosdb-v-tour-popover-close-button {
    padding: 0;
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    font-size: 1rem;
}

.caosdb-f-property-value {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}

.caosdb-f-reference-value {
    background-color: white;
    padding: 0.2rem 0.5rem;
}

.caosdb-f-edit {
    display: none;
    position: relative;
    width: 240px;
    flex-shrink: 0;
}

.caosdb-v-edit-panel {
    padding: 0px;
    height: min-content;
    position: fixed;
    width: 240px;
}

.caosdb-f-show-paging-panel .caosdb-v-edit-panel {
    margin-top: 39px;
}

.caosdb-query-response.card .card-header {
    border: none;
}

.caosdb-f-entity-state-transition-button:hover {
    filter: brightness(110%);
}

.caosdb-f-entity-state-transition-button {
    border: none;
}

.caosdb-f-map-panel .leaflet-container {
    height: 500px;
}

.caosdb-v-field .bootstrap-select button {
    border: 1px solid #ced4da;
    background-color: #FFF;
}

.caosdb-v-field > div {
    margin-top: auto;
    margin-bottom: auto;
}

.caosdb-v-property-href-value {
    text-decoration: none;
    font-weight: 600;
    font-size: 0.875rem;
    color: #5E6762;
}

.caosdb-f-form-wrapper .caosdb-f-form-required-marker {
    font-size: 10px;
    color: red;
    margin-right: 4px;
    font-weight: 100;
}

.caosdb-f-form-elements-footer .caosdb-f-form-required-label {
    margin-right: 4px;
    font-size: 11px;
}

/* handle long text properties (single value) */

.caosdb-f-property-value details summary {
  display: inline;
}

.caosdb-f-property-value .spacer::after {
  margin: 0;
  content: "(show less)";
  visibility: hidden;
}

.caosdb-f-property-value details[open] summary * {
  display: none;
}

.caosdb-f-property-value details[open] summary {
  float: right;
}

.caosdb-f-property-value details summary::after {
  content: "... (show more)";
  color: blue;
}

.caosdb-f-property-value details[open] summary::after {
  content: "(show less)";

  padding-right: calc(var(--bs-gutter-x) * .5);
  position: absolute;
  bottom: 0;
  right: 0;
}

/* handle long text properties (list) */

.caosdb-f-property-value .caosdb-value-list .spacer::after {
  display: block;
}

.caosdb-select-table > .card-body {
    overflow-x: auto;
}

.caosdb-f-property-value .caosdb-value-list details summary::after {
  content: "...";
}


.caosdb-f-property-value .caosdb-value-list details[open] summary {
  float: none;
}

.caosdb-f-property-value .caosdb-value-list details[open] summary::after {
  content: "(show less)";
  padding-right: calc(var(--bs-gutter-x) * .5);
  position: absolute;
  bottom: 0;
  left: 0;
  right: unset;
}

.caosdb-f-property-value .caosdb-value-list details[open] {
  position: relative;
  max-width: 80vw;
}

/* Make different link to parent dir more visible. */
.caosdb-entity-heading-attr a {
  margin-right: .75em;
}

@media (min-width: 576px) {
  .caosdb-f-property-value .caosdb-value-list details[open] {
    max-width: 200px;
  }
}

@media (min-width: 768px) {
  .caosdb-f-property-value .caosdb-value-list details[open] {
    max-width: 400px;
  }
}

@media (min-width: 992px) {
  .caosdb-f-property-value .caosdb-value-list details[open] {
    max-width: 530px;
  }
}

@media (min-width: 1200px) {
  .caosdb-f-property-value .caosdb-value-list details[open] {
    max-width: 670px;
  }
}

@media (min-width: 1400px) {
  .caosdb-f-property-value .caosdb-value-list details[open] {
    max-width: 800px;
  }
}
